.hit {
  font-family: sans-serif;
  /*background-color: black;*/

  color: black;

  margin: auto;
  /*width: 110%;*/
  margin-top: 100px;
}

* {
  box-sizing: border-box;
}

h3{
  text-align: center;
}


.const {
  padding: 16px;
  /*background-color: black;*/
  width: 100%;
}

/*hr {
  border: 1px solid black;
}*/

.error {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.error:hover {
  opacity: 1;
  background-color: white;
  color: black;
  border: none;
}

.center {
  text-align: center;
}

.foo {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
};