body {
  font-family: sans-serif;
  background-color: black;

  color: white;

  margin: auto;
  width: 80%;
  margin-top: 100px;
}

* {
  box-sizing: border-box;
}

h3{
  text-align: center;
}

.const {
  padding: 16px;
  background-color: black;
  width: 100%;
}

hr {
  border: 1px solid white;
}

.download {
  background-color: red;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.download:hover {
  opacity: 1;
  background-color: white;
  color: black;
  border: none;
}

.center {
  text-align: center;
}

.foo {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
};