/* --------------------------------- */
/* Css Color Style                   */
/*---------------------------------- */

header nav a.home-btn, .site-btn, .timeline li:first-child i, nav ul li a:after, .owl-theme .owl-controls .owl-page span, .skill-list .progress .percentage, ul.profile-information li:first-child:before{
    background: grey !important;
}

header nav ul li a:hover, .cbp-filter-item-active, .portfolio-content p span, #blog-post .blog-sidebar ul.category-list li a:hover, #blog-post .blog-sidebar .popular-posts ul li a .info{
    color: black !important;
}

.spinner:before{
    border-top-color: black;  
}

ul.profile-information li:before{
	border-color: black; 
}

/* Hover Color*/

.site-btn:hover, header nav a.home-btn:hover, .section-title span{
   background-color: black !important;
}

/* Opacity Color*/

#portfolio .cbp-item .portfolio-image .icon i, #portfolio .cbp-item figure .icon i{
    background: rgb(255, 197, 1);
}

/* for light colors */

.site-btn, header nav a.home-btn i, ul.profile-information li:first-child:before, #blog .blog-box .date span, #blog .blog-box .date span, .timeline li:first-child i, .cbp-l-loadMore-link.site-btn{
	color:#000 !important;
}

.timeline li:before, ul.profile-information li:before{
	border-color: black !important;
}

.tab.active a, #blog-post .post-list ul li a, #blog-post .post-comment ul li .comment-content a{
	color: black;
}

ul.profile-information li:first-child:after{
    background: url(../../images/glasses.png) no-repeat; 
    background-size: 27px 10px;
}










